/*  */
/*  */

.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 97%;
}

.footer__right * .MuiSlider-root {
  color: green;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: #fff;
  width: 300px;
  /* border: 1px solid #fff; */
}

.footer__center {
  display: flex;
  padding: 0 100px;
  color: #fff;
  flex: 0.4;
  /* border: 1px solid #fff; */
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right {
  /* border: 1px solid #fff; */
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 300px;
}

.footer__albumLogo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 20px;
}

.footer__green {
  color: green;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer__songInfo > p {
  font-size: 12px;
}
